.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.header__logo {
  width: 254px;
  height: 70px;
  left: 513px;
  padding-top: 34px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 544px) {
  .header {
    flex-direction: column;
    padding: 0 16px;
  }
}
