.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
}
.intro__title {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 45px;
  text-align: left;
  max-width: 830px;
  margin: 0;
  margin-bottom: 40px;
}
.intro__description {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: left;
  max-width: 738px;
  margin: 0;
  margin-bottom: 42px;
}
.intro__quote {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 24px;
  max-width: 732px;
  margin: 0;
  margin-bottom: 36px;
  align-self: flex-end;
}
.intro__text {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  max-width: 722px;
  margin: 0;
}
