.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
}
.intro__title {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 54px;
  text-align: left;
  max-width: 830px;
  margin: 0;
  margin-bottom: 40px;
  max-height: 116px;
}
.intro__description {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: left;
  max-width: 738px;
  margin: 0;
  padding-bottom: 10px;
}
.intro__quote {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 24px;
  max-width: 732px;
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  text-align: end;
}
.intro__text {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  margin: 0;
  line-height: 163%;
  padding-bottom: 118px;
  max-width: 722px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 64px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
    height: 98px;
  }
  .intro__text {
    padding-bottom: 88px;
    max-width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    max-height: 180px;
    height: 140px;
    padding-bottom: 40px;
  }
  .intro__text {
    max-width: 288px;
    height: 442px;
    padding-bottom: 64px;
  }
}
