.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  gap: 32px;
}
.lead__title {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  max-width: 720px;
  max-height: 200px;
  line-height: 100px;
  margin: 0;
}
.lead__description {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: 0;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  height: auto;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-size: 75px;
    max-width: 530px;
    max-height: 158px;
    line-height: 79px;
  }
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}
@media screen and (max-width: 544px) {
  .lead__title {
    font-size: 40px;
    max-width: 228px;
    max-height: 88px;
    line-height: 44px;
  }
  .lead__description {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    max-height: 40px;
  }
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
