.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 92px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
