.places {
  max-width: 984px;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 10px;
  padding-top: 92px;
}
.places__location {
  display: grid;
  grid-template-columns: 460px 484px;
  padding-bottom: 80px;
  column-gap: 40px;
}
.places__title {
  grid-column: 1;
  grid-row: 1;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 48px;
}
.places__media {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}
.places__photo {
  margin-bottom: 48px;
  transition: filter 0.3s ease;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.35);
}
.places__description {
  grid-column: 2;
  grid-row: 2 / span 2;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}
.places__description-paragrafo {
  padding-bottom: 25px;
  margin: 0;
}
.places__authors {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  margin-bottom: 48px;
}
.places__authors-title {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.2px;
  color: #aaaaaa;
  margin-bottom: 8px;
}
.places__authors-name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}
.places__button {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #ffffff;
  border-radius: 4px;
  width: 356.08px;
  height: 48px;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  margin: 0;
}
.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
.places__photo:hover {
  filter: brightness(0.5);
}
